<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le styles -->
  <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
    body {
      padding-top: 80px;
      padding-bottom: 40px;
    }
    .sidebar-nav {
      padding: 9px 0;
    }
  </style>
  <link href="/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="/assets/css/pygments.css?body=1" rel="stylesheet" type="text/css" media="all">
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17718417-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="/"><img src="/assets/img/copperegg.png"></a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li {% if page.url == '/index.html' %}class="active"{% endif %}><a href="/">Introduction</a></li>
            <li {% if page.url == '/sessions.html' %}class="active"{% endif %}><a href="/">Sessions</a></li>
            <li {% if page.url == '/site.html' %}class="active"{% endif %}><a href="/">Site</a></li>

            <li class="nav-header">Alerts</li>
            <ul class="nav nav-list">
              <li {% if page.url == '/alerts/definitions.html' %}class="active"{% endif %}><a href="/alerts/definitions.html">Definitions</a></li>
              <li {% if page.url == '/alerts/issues.html' %}class="active"{% endif %}><a href="/alerts/issues.html">Issues</a></li>
            </ul>

            <li class="nav-header">RevealEngine</li>
            <ul class="nav nav-list">
              <li {% if page.url == '/revealengine/samples.html' %}class="active"{% endif %}><a href="/revealengine/samples.html">Samples</a></li>
              <li {% if page.url == '/revealengine/objects.html' %}class="active"{% endif %}><a href="/revealengine/objects.html">Objects</a></li>
              <li {% if page.url == '/revealengine/definitions.html' %}class="active"{% endif %}><a href="/revealengine/definitions.html">Definitions</a></li>
              <li {% if page.url == '/revealengine/annotations.html' %}class="active"{% endif %}><a href="/revealengine/annotations.html">Annotations</a></li>
            </ul>
            
            <li class="nav-header">RevealCloud</li>
            <ul class="nav nav-list">
              <li {% if page.url == '/revealcloud/systems.html' %}class="active"{% endif %}><a href="/revealcloud/systems.html">Systems</a></li>
              <li {% if page.url == '/revealcloud/samples.html' %}class="active"{% endif %}><a href="/revealcloud/samples.html">Samples</a></li>
              <li {% if page.url == '/revealcloud/tags.html' %}class="active"{% endif %}><a href="/revealcloud/tags.html">Tags</a></li>
            </ul>

            <li class="nav-header">RevealUptime</li>
            <ul class="nav nav-list">
              <li {% if page.url == '/revealuptime/probes.html' %}class="active"{% endif %}><a href="/revealuptime/probes.html">Probes</a></li>
              <li {% if page.url == '/revealuptime/samples.html' %}class="active"{% endif %}><a href="/revealuptime/samples.html">Samples</a></li>
              <li {% if page.url == '/revealuptime/tags.html' %}class="active"{% endif %}><a href="/revealuptime/tags.html">Tags</a></li>
            </ul>
          </ul>
        </div>
      </div>

      <div class="span9">
        <h1>{{ page.title }}</h1>
        <hr>
        {{ content }}
      </div>

    </div>
  </div>

</body>
</html>
