<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <script src="/assets/js/jquery-3.1.0.min.js"></script>
  <script src="/assets/js/tether.min.js"></script>
  <script src="/assets/js/bootstrap-material-design.iife.min.js"></script>
  <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
  <script>
    $('body').bootstrapMaterialDesign();
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/bootstrap-material-design.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/index.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/code_highlight.css">
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17718417-7']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

  <div class="navbar navbar-dark bg-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="/">
          <img src="/assets/img/copperegg.png">
          <img src="/assets/img/product-name.png" class="product-name">
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 side-left-navigation">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li {% if page.url == '/' %}class="active"{% endif %}><a href="/">Introduction</a></li>

            <li class="nav-header">Alerts</li>
            <ul class="nav nav-list inner-nav-list">
              <li {% if page.url == '/alerts/definitions.html' %}class="active"{% endif %}><a href="/alerts/definitions.html">Definitions</a></li>
              <li {% if page.url == '/alerts/profiles.html' %}class="active"{% endif %}><a href="/alerts/profiles.html">Profiles</a></li>
              <li {% if page.url == '/alerts/issues.html' %}class="active"{% endif %}><a href="/alerts/issues.html">Issues</a></li>
              <li {% if page.url == '/alerts/schedules.html' %}class="active"{% endif %}><a href="/alerts/schedules.html">Schedules</a></li>
              <li {% if page.url == '/revealengine/annotations.html' %}class="active"{% endif %}><a href="/revealengine/annotations.html">Annotations</a></li>
            </ul>

            <li class="nav-header">AWS</li>
            <ul class="nav nav-list inner-nav-list">
              <li {% if page.url == '/aws/accounts.html' %}class="active"{% endif %}><a href="/aws/accounts.html">Accounts</a></li>
              <li {% if page.url == '/aws/samples.html' %}class="active"{% endif %}><a href="/aws/samples.html">Samples</a></li>
            </ul>

            <li class="nav-header">Azure</li>
            <ul class="nav nav-list inner-nav-list">
              <li {% if page.url == '/azure/accounts.html' %}class="active"{% endif %}>
                <a href="/azure/accounts.html">Accounts</a>
              </li>
              <li {% if page.url == '/azure/subscriptions.html' %}class="active"{% endif %}>
                <a href="/azure/subscriptions.html">Subscriptions</a>
              </li>
              <li {% if page.url == '/azure/resource_groups.html' %}class="active"{% endif %}>
                <a href="/azure/resource_groups.html">Resource Groups</a>
              </li>
              <li {% if page.url == '/azure/resources.html' %}class="active"{% endif %}>
                <a href="/azure/resources.html">Resources</a>
              </li>
              <li {% if page.url == '/azure/samples.html' %}class="active"{% endif %}>
                <a href="/azure/samples.html">Samples</a>
              </li>
            </ul>

            <li class="nav-header">Servers (RevealCloud)</li>
            <ul class="nav nav-list inner-nav-list">
              <li {% if page.url == '/revealcloud/servers.html' %}class="active"{% endif %}><a href="/revealcloud/servers.html">Servers</a></li>
              <li {% if page.url == '/revealcloud/stale_servers.html' %}class="active"{% endif %}><a href="/revealcloud/stale_servers.html">Stale Servers</a></li>
              <li {% if page.url == '/revealcloud/samples.html' %}class="active"{% endif %}><a href="/revealcloud/samples.html">Samples</a></li>
              <li {% if page.url == '/revealcloud/tags.html' %}class="active"{% endif %}><a href="/revealcloud/tags.html">Tags</a></li>
            </ul>

            <li class="nav-header">Probes (RevealUptime)</li>
            <ul class="nav nav-list inner-nav-list">
              <li {% if page.url == '/revealuptime/probes.html' %}class="active"{% endif %}><a href="/revealuptime/probes.html">Probes</a></li>
              <li {% if page.url == '/revealuptime/samples.html' %}class="active"{% endif %}><a href="/revealuptime/samples.html">Samples</a></li>
              <li {% if page.url == '/revealuptime/tags.html' %}class="active"{% endif %}><a href="/revealuptime/tags.html">Tags</a></li>
            </ul>

            <li class="nav-header">RUM - Real User Monitoring</li>
            <ul class="nav nav-list inner-nav-list">
              <li {% if page.url == '/revealapp/samples.html' %}class="active"{% endif %}><a href="/revealapp/samples.html">Samples</a></li>
            </ul>

            <li class="nav-header">Custom Metrics (RevealMetrics)</li>
            <ul class="nav nav-list inner-nav-list">
              <li {% if page.url == '/revealmetrics/metricgroups.html' %}class="active"{% endif %}><a href="/revealmetrics/metricgroups.html">Metric Groups</a></li>
              <li {% if page.url == '/revealmetrics/metricobjects.html' %}class="active"{% endif %}><a href="/revealmetrics/metricobjects.html">Custom Metric Objects and Staleness</a></li>
              <li {% if page.url == '/revealmetrics/dashboards.html' %}class="active"{% endif %}><a href="/revealmetrics/dashboards.html">Dashboards</a></li>
              <li {% if page.url == '/revealmetrics/samples.html' %}class="active"{% endif %}><a href="/revealmetrics/samples.html">Samples</a></li>
              <li {% if page.url == '/revealmetrics/tags.html' %}class="active"{% endif %}><a href="/revealmetrics/tags.html">Tags</a></li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 side-right-navigation">
        <h1>{{ page.title }}</h1>
        <hr>
        {{ content }}
      </div>

    </div>
  </div>
</body>
</html>
