<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le styles -->
  <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
    body {
      padding-top: 80px;
      padding-bottom: 40px;
    }
    .sidebar-nav {
      padding: 9px 0;
    }
  </style>
  <link href="/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="/assets/css/pygments.css?body=1" rel="stylesheet" type="text/css" media="all">
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="/"><img src="/assets/img/copperegg.png"></a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li {% if page.url == '/index.html' %}class="active"{% endif %}><a href="/">Introduction</a></li>

            <li class="nav-header">RevealEngine</li>
            <li {% if page.url == '/revealengine/annotations.html' %}class="active"{% endif %}><a href="/revealengine/annotations.html">Annotations</a></li>
            <li {% if page.url == '/revealengine/tags.html' %}class="active"{% endif %}><a href="/revealengine/tags.html">Tags</a></li>
            
            <li class="nav-header">RevealCloud</li>
            <li {% if page.url == '/revealcloud/systems.html' %}class="active"{% endif %}><a href="/revealcloud/systems.html">Systems</a></li>
            <li class="nav-header">RevealUptime</li>
            <li {% if page.url == '/revealuptime/probe.html' %}class="active"{% endif %}><a href="/revealuptime/probes.html">Probes</a></li>
          </ul>
        </div>
      </div>

      <div class="span9">
        <h1>{{ page.title }}</h1>
        <hr>
        {{ content }}
      </div>

    </div>
  </div>

</body>
</html>
